////////////////////////////////////    Who am I    ////////////////////////////////////
.whoami{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: var(--padding);
}
.whoamiTop{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.pageLogo{
    height: calc(2 * var(--bigTitleFontSize));
    width: fit-content;
}


.skills{
    flex-direction: column;
    gap: var(--smallPadding);
    height: calc(100vh - 2 * var(--bigTitleFontSize) - 4* var(--padding));
    padding-bottom: calc(2* var(--padding));
    width: min(70%,1000px);
    h2{
        width: 100%;
    }
}

.specializations{
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
}
.specializationsTexts{
    width: min(calc(40% - 2 * var(--smallPadding)),800px);
}


////////////////////////////////////    Experiences    ////////////////////////////////////
.experiencesContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: var(--padding);
}
.experiences{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 40vh;
    overflow: hidden;
}
.experienceTitleContainer{
    position: relative;
    height: 600vh;
    padding: 50vh 0;
    transition: var(--transition);
}
.stickyTitle{
    top: calc(50% - var(--titleFontSize)/2 - 4 * var(--smallPadding));
    flex-direction: column;
    background: var(--black);
}
.stickyTitle h2{
    font-size: var(--bigTitleFontSize);
    background: var(--black);
    z-index: 1;
    padding: var(--smallPadding);
    border-radius: var(--borderRadius);
}
.experiencesPlacesImg{
    position: absolute;
    left: 0;
    top: calc(max(-50vh, -500px) + 100%);
    height: min(20vh,200px);
}
.experiencesLabels{
    position: relative;
    width: 100%;
}
.pictureTitleImg{
    height: 100%;
    transition: var(--transition);
}
.experienceImg{
    height: 100%;
    border-radius: var(--borderRadius);
}
.experienceLabel{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    font-size: var(--subtitleFontSize);
    font-family: var(--titleFont);
    padding: var(--smallPadding);
    border-radius: var(--borderRadius);
    background: var(--black);
    width: fit-content;
    z-index: 1;
}
app-experience{
    width: 100%;
}
.timeline{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    height: 100%;
    width: 2px;
    background: var(--white);
}


////////////////////////////////////    Bills    ////////////////////////////////////
.bills{
    display: flex;
    flex-direction: column;
    gap: calc(2 * var(--padding));
    width: var(--widthWithPadding);
    padding: var(--padding);
}
#billsTitle{
    height: 300vh;
}


@media screen and (max-width: 1000px) {
    .whoami{
        gap: calc(5*var(--padding));
    }
    .whoamiTop{
        height: calc(100vh - 6*var(--padding));
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .pageLogo{
        width: 50%;
        height: fit-content;
    }
    .skills{
        border: none;
        padding: 0;
        width: var(--widthWithPadding);
    }
    .specializations{
        gap: var(--padding);
    }
    .specializationsTexts{
        background: transparent !important;
        color: var(--white) !important;
        width: var(--widthWithSmallPadding);
        border-top: 2px solid var(--white);
        border-radius: 0;
    }
    .specializationsTexts:nth-child(2){
        border-bottom: 2px solid var(--white);
    }
    .specializations{
        display: flex;
        flex-direction: column;
    }
    .name{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .timeline{
        display: none;
    }
    .bills{
        gap: calc(4*var(--padding));
    }
    .experiencesLabels{
        top: calc(50% + 2*var(--bigTitleFontSize));
    }
    .experienceTitleContainer{
        height: 400vh;
    }
}
