:root{
    --black: #140F22;
    --white: #EEE4E8;
    --borderRadius: 5px;
    --padding: 5vw;
    --smallPadding: 2vw;
    --extraSmallPadding: 10px;

    --widthWithPadding: calc(100% - 2*var(--padding));
    --widthWithSmallPadding: calc(100% - 2*var(--smallPadding));

    --bigTitleFontSize: 4em;
    --titleFontSize: 2em;
    --subtitleFontSize: 1.5em;
    --classicFontSize: 1.25em;
    --smallFontSize: 1em;

    --transition: .3s ease-out;

    --titleFont: "Source Code Pro", monospace;
    --normalFont: 'Nunito', sans-serif;

    --heightFooter: 600px;
}

html,body{
    font-family: var(--normalFont);
    margin: 0;
}
h1,h2,h3,h4{
    font-family: var(--titleFont);
    margin: 0;
}
h1{
    font-size: var(--bigTitleFontSize);
}
h2{
    font-size: var(--titleFontSize);
}
h3,h4{
    font-size: var(--subtitleFontSize);
}
p{
    font-size: var(--classicFontSize);
    font-weight: 200;
    margin: 0;
}
ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}
li{
    display: flex;
}


.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageContainer{
    display: flex;
    flex-direction: column;
    width: var(--widthWithPadding);
    background: var(--black);
    padding: var(--padding);
    color: var(--white);
    transition: var(--transition);
}
.whiteBackground{
    background: var(--white);
    color: var(--black);
    margin-bottom: var(--padding);
}


.bold{
    font-weight: bold;
}
.small{
    font-size: var(--smallFontSize);
}
.buttonAnimation{
    transition: .2s ease-out;
    border-radius: var(--borderRadius);
    overflow: hidden;
    cursor: pointer;
    border: 2px solid;
    font-weight: bold;
}
.buttonAnimation::before{
    content: '';
    width: 100%;
    transform: translateX(-100%);
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: .2s ease-out;
}
.buttonAnimation:hover::before{
    transform: translateX(0);
}

a{
    @extend .buttonAnimation;
    position: relative;
    outline: none;
    text-decoration: none;
    padding: var(--extraSmallPadding) var(--smallPadding);
    font-size: var(--subtitleFontSize);
    background: transparent;
}
.buttonAnimation span{
    display: block;
    width: 100%;
    position: relative;
    z-index: 1;
    text-align: center;
}

.blackButton{
    border-color: var(--black);
    color: var(--black);
}
.blackButton::before{
    background: var(--black);
}
.blackButton:hover{
    color: var(--white);
}

.whiteButton{
    border-color: var(--white);
    color: var(--white);
}
.whiteButton::before{
    background: var(--white);
}
.whiteButton:hover{
    color: var(--black);
}


.blackTextBorder{
    border: 2px solid var(--white);
}
.whiteTextBorder{
    border: 2px solid var(--white);
}
.smallPadding{
    padding: var(--smallPadding) !important;
}
.gapSmallPadding{
    gap: var(--smallPadding) !important;
}
.blackTextBorder,.whiteTextBorder,.whiteBackgroundText,.blackBackgroundText,.textContainer{
    display: flex;
    flex-direction: column;
    border-radius: var(--borderRadius);
    padding: var(--padding);
    gap: var(--smallPadding);
    transition: var(--transition);
}


.whiteBackgroundText{
    background: var(--white);
    color: var(--black);
}
.blackBackgroundText{
    background: var(--black);
    color: var(--white);
}

.enterLeft{
    transform: translateX(-200px);
}
.enterRight{
    transform: translateX(200px);
}
.sideAppearsAnimation{
    transition: var(--transition);
}
.appearsAnimation{
    transition: var(--transition);
}
.hidden{
    opacity: 0 !important;
    pointer-events: none;
}
.stickyTitle{
    position: sticky;
    text-align: center;
    width: 100%;
    top: calc(50% - var(--titleFontSize)/2);
    transition: var(--transition);
    z-index: 1;
}
@media screen and (min-width: 1700px) {
    :root{
        --bigTitleFontSize: 5em;
        --titleFontSize: 2.5em;
        --subtitleFontSize: 2em;
        --classicFontSize: 1.5em;
        --smallFontSize: 1.2em;
    }
}

@media screen and (max-width: 1000px) {
    :root{
        --padding: 5vw;
        --smallPadding: 3vw;
        --extraSmallPadding: 2px;

        --bigTitleFontSize: 2em;
        --titleFontSize: 1.6em;
        --subtitleFontSize: 1.4em;
        --classicFontSize: 1.25em;
        --smallFontSize: 1em;
    }
}